# Exclude everything by default
*

# Conditionally include things we know we want in the container
!.flake8
# T299804: Copy the full .git directory into the container
!.git
!.pipeline
!COPYING
!contrib
contrib/*
!contrib/nginx
!data
!macros
!mkdocs.yml
!plugin
!poetry.lock
!pyproject.toml
!README.md
!src
