{% extends "base.html" %}
{% block extrahead %}
    {% set title = config.site_name %}
    {% if page and page.meta and page.meta.title %}
        {% set title = title ~ " - " ~ page.meta.title %}
    {% elif page and page.title and not page.is_homepage %}
        {% set title = title ~ " - " ~ page.title %}
    {% endif %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ config.site_description }}" />
    <meta property="og:url" content="{{ page.canonical_url }}" />
    <meta property="og:image" content="{{ page.canonical_url }}assets/wikimedia.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="395" />
    <meta property="og:image:height" content="310" />
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="{{ config.site_description }}" />
    <meta name="twitter:image" content="{{ page.canonical_url }}assets/wikimedia.png">
{% endblock %}

{% block announce %}
<div class="md-banner-columns" dir="ltr">
  <div class="md-banner-column-text">
    <div class="md-banner-heading">
      <span class="twemoji md-banner-rocket-icon">
        {% include ".icons/material/rocket-launch-outline.svg" %}
      </span>Help shape the future of the Developer Portal
    </div>
    <div class="md-banner-content">
      The Wikimedia Foundation is looking for volunteers to participate in interviews and provide feedback on the next version of the Developer Portal.
    </div>
  </div>
  <div class="md-banner-column-button">
    <a href="https://wikimediafoundation.limesurvey.net/271757?lang=en" class="md-banner-button" target="_blank">Sign up to participate</a>
  </div>
</div>
{% endblock %}
