:root > * {
	--md-text-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
}

/* Light theme */
[data-md-color-scheme="default"] {
	--md-accent-fg-color: #0063BF;
	--md-primary-fg-color: #0C57A8;

	--md-banner-bg: #e8eeff;
	--md-banner-color: #36c;

	--md-banner-btn-bg: #e8eeff;
	--md-banner-btn-border: #3366cc;
	--md-banner-btn-color: #3366cc;

	--md-banner-btn-hover-bg: #d9e2ff;
	--md-banner-btn-hover-border: #3056a9;
	--md-banner-btn-hover-color: #3056a9;

	--md-banner-btn-active-bg: #b6d4fb;
	--md-banner-btn-active-border: #233566;
	--md-banner-btn-active-color: #233566;
}

/* Dark theme */
[data-md-color-scheme="slate"] {
	--md-accent-fg-color: #F0BC00;
	--md-default-bg-color: #1A1B23;
	--md-primary-fg-color: #0C57A8;
	--md-typeset-a-color: #F0BC00;

	--md-banner-bg: #1a1b23;
	--md-banner-color: #88a3e8;

	--md-banner-btn-bg: #1b223d;
	--md-banner-btn-border: #6485d1;
	--md-banner-btn-color: #88a3e8;

	--md-banner-btn-hover-bg: #233566;
	--md-banner-btn-hover-border: #88a3e8;
	--md-banner-btn-hover-color: #a6bbf5;

	--md-banner-btn-active-bg: #3056a9;
	--md-banner-btn-active-border: #a6bbf5;
	--md-banner-btn-active-color: #b6d4fb;
}

/* Increase contrast of nav drawer title */
[data-md-color-scheme="slate"] .md-nav--primary .md-nav__title {
	color: #FFF;
}

/* Match vertical line in sidebar to link color, but don't apply to nav drawer */
@media (min-width: 1220px) {
	[data-md-color-scheme="slate"] .md-nav--integrated > .md-nav__list > .md-nav__item--active .md-nav--secondary {
		border-left: 0.05rem solid var(--md-typeset-a-color);
	}
}

[dir=ltr] .md-header__title {
    margin-left: 0rem;
}

[dir=rtl] .md-header__title {
    margin-right: 0rem;
}

.md-tabs a {
	opacity: 1;
}

.md-tabs a:hover{
	opacity: .7;
}

.md-tabs .md-tabs__link--active {
	opacity: .7;
}

/* Override table of contents behavior to gray out sections above the scroll point */
.md-nav__link[data-md-state=blur] {
	color: inherit;
}

.md-nav__link[data-md-state=blur]:is(:focus,:hover) {
	color: var(--md-typeset-a-color);
}

.md-nav__item .md-nav__link--active {
	color: var(--md-typeset-a-color) !important;
}

/* Increase contrast of nav drawer title */
.md-nav--primary .md-nav__title {
	color: var(--md-typeset-color);
}

/* Fix disappearing arrow in nav drawer table of contents */
.md-nav--secondary .md-nav__title .md-nav__icon {
	display: inherit;
}

.md-typeset h1 {
	color: var(--md-typeset-color);
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.md-typeset h2 {
	font-size: 1.3rem;
	font-weight: 600;
	padding-bottom: 0.3rem;
}

.md-typeset h3 {
	font-size: 1.05rem;
	font-weight: 600;
}

.md-typeset a:hover {
	color: var(--md-typeset-a-color);
	text-decoration: underline;
}

.md-typeset .md-button {
	background-color: var(--md-primary-fg-color);
	border-color: var(--md-primary-fg-color);
	color: #FFF;
}

/* Hardcoded hex code to apply to both light and dark mode */
.md-typeset .md-button:is(:focus,:hover) {
	background-color: #0063BF;
	border-color: #0063BF;
	color: #FFF;
	text-decoration: none;
}

.md-grid {
	max-width: 1100px;
}

.md-typeset h1 > a.headerlink,
.md-typeset h2 > a.headerlink,
.md-typeset h3 > a.headerlink {
	display: none;
}

/* Images */
p > img {
	margin-top: 1.6em;
	padding: 0px;
	width: 120px;
}

@media (min-width: 700px) {
	p > img {
		clear: both;
		float: left;
		margin-top: 0px;
		padding: 20px 40px 5px 0px;
		width: 160px;
	}
	[dir="rtl"] p > img {
		float: right;
		padding-left: 40px;
		padding-right: 0px;
	}
}

@media (min-width: 2000px) {
	p > img {
		padding-top: 25px;
	}
}

.md-footer .md-grid {
    justify-content: stretch;
}
.md-footer .md-copyright {
    margin: 0;
    flex-grow: 1;
}
.footer-links ul {
    list-style: none;
    margin: .5em 0 !important;
    font-size: .64rem;
}
.footer-links ul > li {
    display: inline-block;
    margin: 0 .25em !important;
}
.md-banner {
	font-family: sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.625rem;
	background-color: var( --md-banner-bg );
	color: var( --md-banner-color );
}

.md-banner__inner {
	max-width: unset;
}

.md-banner-columns {
	display: flex;
	flex-direction: column;
	align-items: initial;
}

.md-banner-column-button {
	align-self: flex-start;
	padding-top: 16px;
	padding-bottom: 8px;
}

@media (min-width: 1220px) {
	.md-banner-columns {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
}

	.md-banner-column-button {
		align-self: center;
		padding-top: unset;
		padding-bottom: unset;
	}
}

.md-banner-heading {
	font-family: sans-serif;
	font-size: large;
	font-weight: 700;
	line-height: 1.875rem;
}

.md-banner-button {
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	font-family: inherit;
	font-weight: 700;
	font-size: 0.8rem;
	text-decoration: none !important;
	cursor: pointer;
	transition: background-color .1s, border-color .1s, color .1s !important;
	background-color: var( --md-banner-btn-bg );
	border-color: var( --md-banner-btn-border );
	color: var( --md-banner-btn-color ) !important;
	min-height: 44px;
	padding: 0 15px;
}

.md-banner-button:hover {
	background-color: var( --md-banner-btn-hover-bg );
	border-color: var( --md-banner-btn-hover-border );
	color: var( --md-banner-btn-hover-color ) !important;
	text-decoration: none;
}

.md-banner-button:active {
	background-color: var( --md-banner-btn-active-bg );
	border-color: var( --md-banner-btn-active-border );
	color: var( --md-banner-btn-active-color ) !important;
	text-decoration: none;
}

.md-banner-rocket-icon {
	padding-inline-end: 8px;
	margin-block-start: -2px;
}

[dir="rtl"] .md-banner-rocket-icon {
	margin-block-start: unset;
}

[dir="rtl"] .md-banner__button {
	float: right;
}
