:root {
	--md-primary-fg-color:        #3366CC; /* accent50 */
	--md-primary-fg-color--light: #EAF3FF; /* accent90 */
	--md-primary-fg-color--dark:  #2A4B8D; /* accent30 */
	--md-text-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
}

[data-md-color-scheme="slate"] {
	--md-typeset-a-color: #f0bc00;
}

.md-typeset h1 {
	font-weight: 600;
	color: var(--md-typeset-color);
	font-size: 1.8rem;
}

.md-typeset h2 {
	font-size: 1.3rem;
	padding-bottom: 0.3rem;
	border-bottom: 1px solid #eaecef;
	font-weight: 600;
}

.md-typeset h3 {
	font-size: 1.05rem;
	font-weight: 600;
}

.md-typeset a:hover {
	text-decoration: underline;
	color: var(--md-typeset-a-color);
}
