:root {
	--md-primary-fg-color:        #3366CC; /* accent50 */
	--md-primary-fg-color--light: #EAF3FF; /* accent90 */
	--md-primary-fg-color--dark:  #2A4B8D; /* accent30 */
	--md-accent-fg-color:         #447FF5;
	--md-text-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Lato, Helvetica, Arial, sans-serif;
}

[data-md-color-scheme="slate"] {
	--md-typeset-a-color: #F0BC00;
}

[data-md-color-scheme="slate"] .md-button {
	color: var(--md-typeset-a-color);
}

[data-md-color-scheme="slate"] .md-button:is(:focus,:hover) {
	background-color: var(--md-typeset-a-color);
	border-color: var(--md-typeset-a-color);
	color: var(--md-default-bg-color);
}

[data-md-color-scheme="slate"] .md-button--primary {
	color: #FFF;
}

[data-md-color-scheme="slate"] .md-button--primary:is(:focus,:hover) {
	background-color: var(--md-accent-fg-color);
	border-color: var(--md-accent-fg-color);
	color: #FFF;
}

.md-typeset h1 {
	color: var(--md-typeset-color);
	font-size: 1.8rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.md-typeset h2 {
	font-size: 1.3rem;
	font-weight: 600;
	padding-bottom: 0.3rem;
}

.md-typeset h3 {
	font-size: 1.05rem;
	font-weight: 600;
}

.md-typeset a:hover {
	color: var(--md-typeset-a-color);
	text-decoration: underline;
}

.md-typeset .md-button:is(:focus,:hover) {
	text-decoration: none;
}

.md-grid {
	max-width: 1100px;
}

h1 > a.headerlink {
	display: none;
}

/* Images */
p > img {
	margin-top: 1.6em;
	padding: 0px;
	width: 120px;
}

@media (min-width: 785px) {
	p > img {
		clear: both;
		float: left;
		margin-top: 0px;
		padding: 30px 40px 15px 0px;
		width: 170px;
	}
	[dir="rtl"] p > img {
		float: right;
		padding-left: 40px;
		padding-right: 0px;
	}
}
